div.css-1r6slb0.e1tzin5v1{
    padding: 20px 70px 20px 20px;
    border-radius: 10px;
    min-width: 200px;
    background: #F3F6F0;
    box-shadow:  6px 6px 12px #cccccc,
             -6px -6px 12px #f4f4f4;
}

div.block-container.css-z5fcl4.egzxvld4 {
    padding-top: 2rem;
}


div.css-11nwyj6.e1tzin5v1{
    padding: 20px 70px 20px 20px;
    border-radius: 10px;
    min-width: 200px;
    margin-top: 15px;
    background: #f8f8f8;
    box-shadow:  6px 6px 12px #cccccc,
             -6px -6px 12px #f4f4f4;
}

div.css-czg9eg.e1tzin5v1{
    padding: 20px 70px 20px 20px;
    border-radius: 10px;
    min-width: 200px;
    margin-top: 15px;
    background: #ffffff;
    box-shadow:  6px 6px 12px #cccccc,
             -6px -6px 12px #f4f4f4;
}

/*https://neumorphism.io/#e0e0e0