div.css-1r6slb0.e1tzin5v1{
    padding: 20px 70px 20px 20px;
    border-radius: 10px;
    min-width: 200px;
    background: #F3F6F0;
    box-shadow:  6px 6px 12px #cccccc,
             -6px -6px 12px #f4f4f4;
}


/*https://neumorphism.io/#e0e0e0